<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>chatStorm</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <style type="text/css">
    .body_wishiwi{
      background-color: #363636!important;
    }
</style>
  </head>
  
    <% if (!user) { %>
    <body class="overflow home">
      <!-- View: login / register -->
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center title"><h2> ***--- ChatStorm ---***</h2></div>
          </div>

          <div class="row">
             <div class="col-md-12 text-center">
                
                   <h4>Bienvenido a chatStorm</h4>
                    <a href="/login" class="btn">Login</a>
                    <a href="/register" class="btn">Register</a>
                  
              </div>    
          </div>
            
      </div>
      <script src="js/bootstrap.min.js"></script> 
     <!-- / View: login / register -->

     <% }else{ %>
    <body class="overflow">
		<!-- View: Welcome / app -->
     <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand title-app" href="#"><h2>ChatStorm</h2> <span class="beta">beta</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
              <ul class="nav navbar-nav navbar-right">
               
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><stong><span class="glyphicon glyphicon-user"></span> <%= user.username %><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li> <a href="/logout">logout</a></li>
                   
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      
      <div class="container-fluid main-app">
        <div class="row">
            <div class="col-md-6 hidden-sm hidden-xs">
              <div class="app-history-box">
                <form action="/app" method="post">
                <div class="form-group">  
                  <div class="form-group">
                   
                    <input type="text" class="form-control" name="title" id="title" placeholder="Título" >
                  </div>
                  <div class="form-group">
                   
                    <textarea class="form-control" id="text" name="text" placeholder="texto"></textarea>
                  </div>
                  <div class="form-group">
                    <a href="javascript:void(0);" class="btn btn-default send-history">enviar</a>
                  </div>
                </div>
                <div id="app-histories-container" class="custom-scrollbar">
                  
                 </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="app-box" style="min-width: 100%;" >
                <div class="hide-loading">
                  <div class="welcome text-center">
                    Hola <span id="username"><%= user.username %></span> 
                    <br />
                    <br />
                    <a href="javascript:void(0);" class="btn btn-default join-room">Entrar al chat</a>
                     <br />
                      <br />
                      <p>Chatstorm es una aplicación anónima que no guarda ni recolecta información de sus usuarios.</p>
                    <svg width='200px' height='200px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-circle"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g><circle cx="50" cy="50" r="105" fill="#24292e"><animate attributeName="r" from="105" to="75" repeatCount="indefinite" dur="1s"></animate></circle><circle cx="50" cy="50" r="90" fill="#1deee5"><animate attributeName="r" from="90" to="60" repeatCount="indefinite" dur="1s"></animate></circle><circle cx="50" cy="50" r="75" fill="#24292e"><animate attributeName="r" from="75" to="45" repeatCount="indefinite" dur="1s"></animate></circle><circle cx="50" cy="50" r="60" fill="#1deee5"><animate attributeName="r" from="60" to="30" repeatCount="indefinite" dur="1s"></animate></circle><circle cx="50" cy="50" r="45" fill="#24292e"><animate attributeName="r" from="45" to="15" repeatCount="indefinite" dur="1s"></animate></circle><circle cx="50" cy="50" r="30" fill="#1deee5"><animate attributeName="r" from="30" to="0" repeatCount="indefinite" dur="1s"></animate></circle><circle cx="50" cy="50" r="15" fill="#24292e"><animate attributeName="r" from="15" to="0" repeatCount="indefinite" dur="1s"></animate></circle></g></svg>
                  </div>
                </div>
                <div class="app chatstorm hide " >
                  <h4> ***--- 8a chat room ---***</h4>
                  <div class="row">
                    <div class="col-md-10 col-sm-9 col-xs-8 chat-messages">
                      <div class="chats custom-scrollbar">

                    

                      </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                      <div class="users_connected">
                        <h5>En este chat</h5>
                        <div id="users"></div>
                      </div>
                    </div>
                  </div>
                  <div class="result-container">
                    <span class="glyphicon glyphicon-remove-circle pull-right close-gif"></span>
                    <div class="result"></div>
                  </div>
               
                    <div class="row chat-box">
                      <div class="col-md-9 col-sm-9 col-xs-6"><div  class="form-control" id="comment" contenteditable="true"></div></div>
                      <div class="col-md-1 col-sm-1 col-xs-2"><a href="javascript:void(0)" id="serach-gif" class="btn">gif</a></div>
                      <div class="col-md-2 col-sm-2 col-xs-2"><a href="javascript:void(0)" class="btn" id="send-comment"><span class="glyphicon glyphicon-send"></span> Enviar</a></div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 writting"></div>
                    </div>   
                 


                </div>
              </div>
            </div>
            
           
        </div>
      </div>
      
		    




    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>    
		
    <script src="js/socket.io.js"></script>
	  <script src="js/mustache.min.js"></script>

    <script type="text/javascript">

    tinymce.init({
        force_br_newlines : false,
        force_p_newlines : false,
        forced_root_block : '',
        relative_urls: false,
        menubar: false,
        body_class: "body_wishiwi",

      selector: 'textarea',
      height: 100,
      plugins: [
              
              "anchor",
              "code",
              "insertdatetime paste"
          ],
       
        toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify| link",
      imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io']
    });

    //var socket = io('http://localhost:3002');
    var socket = io('http://34.210.2.158:3002/');
    var yo = '<%= user.username %>';
    
  
    var usersWritting = [];

    Notification.requestPermission();


      $(document).ready(function(){
       getHistories();
        
      

       $('.send-history').click(function(){
        var title = $('#title').val();
        var text = tinymce.get('text').getBody().innerHTML;
        
        if(title != '' && text != ''){

          $.ajax({
              url: '/api',
              type: 'POST',
              data: {title: title, text: text, username:yo}
            }).done(function() {
               getHistories();
            });
          }

      });



      $('.join-room').click(function(){
        $('.hide-loading').fadeOut();
        $('.uil-circle').fadeIn();
        socket.emit('join_room', {user:  yo});
      });

       /* El chat */

      $('#comment').keypress(function(e) {
        socket.emit('is_writting', { username: yo });
         if(e.which == 13) {
          e.preventDefault();
            document.getElementById('comment').textContent;
             var comment = document.getElementById('comment').textContent;
             if(comment != ''){
                if(comment.substring(0, 5) == "#sfw:"){

                  var value =  comment.substr(comment.indexOf(":") + 1);;
                  safeForWork(value);
                }else{
                  $('#comment').html('');
                  $('#comment').focus();
                  socket.emit('comment', { comment: comment, username: yo });
                }
              
             }

         }
      });


       socket.on('is_writting', function(data){
          if(usersWritting.indexOf(data.username) == -1){
            usersWritting.push(data.username);
            $('.writting').append('<div class="is_writting" id="'+data.username+'">'+data.username+' esta escribiendo...</div>');
          }else{
            setTimeout(function(){
              $('#'+data.username).remove();
              usersWritting.splice(data.username, 1);
            }, 4000);
            
          }
         
        });

        var width = $(window).width();

        if(width > 992){
          $('.chat-messages').height($(window).height() - 90 - 120);
          $('.app-box').height($(window).height() - 90  - 45);
          $('#app-histories-container').height($(window).height() - 400 );
         
        }else{
           $('body').removeClass('overflow');
           $('.chat-messages').height($(window).height() - 90 - 120);
          $('.app-box').height($(window).height() - 90  - 45);
        }
       
       

        $('#username').html(yo);
        
        $('#send-comment').click(function(){
          var comment = document.getElementById('comment').textContent;
          if(comment != ''){
            if(comment.substring(0, 5) == "#sfw:"){
                  console.log('si papa');
                  var value =  comment.substr(comment.indexOf(":") + 1);;
                  safeForWork(value);
                }else{
                  $('#comment').html('');
                  $('#comment').focus();
                  socket.emit('comment', { comment: comment, username: yo });
                }
          }
          
        });



      });

    socket.on('gif', function(data){
      
      $('.chats').append('<div class="chat gif-enviado" style="color:<%= user.color %>"><span class="username">'+data.username+'</span>: <img src="'+data.gif+'" width="350"></div>');
      scrollTo = $('.chat').last();
        container.scrollTop(
           scrollTo.offset().top - container.offset().top + container.scrollTop()
        );
    });

    socket.on('room_joined', function(data){
      $('.uil-circle').fadeOut();
      $('.welcome').hide();
      $('.chatstorm').removeClass('hide');

    });

    socket.on('banana', function(data){
      location.reload();
     
    });

    socket.on('users_to_me', function (data) {

      $('#users').html('');
      if(data.users.length > 0){
        for(var i = 0; i <= data.users.length - 1 ; i++ ){
          $('#users').append('<div style="color:'+data.users[i].color+'">'+data.users[i].username+'</div>');
          

        }
    }
    });

    $('.close-gif').click(function(){
      $('.result-container').slideToggle();
    });
    $('#serach-gif').click(function(){
     var gif = document.getElementById('comment').textContent;
     if(gif != ''){
      searchGif(gif);
     }
      
    });

        function searchGif(text){
          $('.result').html('');
          $.get( "http://api.giphy.com/v1/gifs/search?q="+text+"&api_key=dc6zaTOxFJmzC&limit=18", function( data ) {
            
              if(data.data.length > 0){
                $('.result-container').slideToggle();
                $.each(data.data, function(i, item) {

                  $('.result').append('<div class="gif-container"><a href="javascript:void(0);" class="send-gif" data-gif="'+item.images.downsized_medium.url+'"><img src="'+item.images.downsized_medium.url+'" width="120" height="100"/></a></div>');
                
                });
              }
             
          });
        }
      

        function getHistories(){
         
           $.ajax({
              url: '/api',
              type: 'GET',
            }).done(function(data) {
              if(data.histories.length > 0){
                $('#app-histories-container').html('');
                  $.each(data.histories, function(k, v) {
                    
                    var template = $('#template-history').html();
                    Mustache.parse(template);
                    var rendered = Mustache.render(template, v);
                    $('#app-histories-container').append(rendered);
                  });
              }else{
                $('#app-histories-container').html('No hay nada por aquí...');
              }   
             
            });
        }

        function safeForWork(value){
          if(value == 'true'){
            $('.gif-enviado').hide();
          }else if(value == 'false'){
            $('.gif-enviado').show();
          }
        }

        $('.result').on('click', '.send-gif', function(){
          $('#comment').html('');
          var gif = $(this).data('gif');
          socket.emit('gif', {gif: gif, username: yo });
          $('.result-container').slideToggle();
        });
    

    var container = $('.chats');
    
    
    socket.on('comment_to_me', function (data) {
     

      $('.chats').append('<div class="chat" style="color:'+data.color+'"><span class="username">'+data.username+': </span> <span class="message">' +data.comment+'</span></div><div class="time">'+data.time+'</div>');
      scrollTo = $('.chat').last();
        container.scrollTop(
           scrollTo.offset().top - container.offset().top + container.scrollTop()
        );
    });

    socket.on('comment_to', function (data) {
      var title = "chatStorm";
      var extra = {
        icon: "images/menem.jpg",
        body: 'Tenes un mensaje bebote.'
      }
      // Lanzamos la notificación
      var notification = new Notification( title, extra);      
      setTimeout(function(){
            notification.close(); //closes the notification
        },1000); 

      $('.chats').append('<div class="chat" style="color:'+data.color+'"><span class="username">'+data.username+': </span> <span class="message">' +data.comment+'</span></div><div class="time">'+data.time+'</div>');
      scrollTo = $('.chat').last();
        container.scrollTop(
           scrollTo.offset().top - container.offset().top + container.scrollTop()
        );

      });
    </script>
  <% } %>
<script id="template-history" type="x-tmpl-mustache">
    <div class="app-history">
      <div class="media ">
        
        <div class="media-body">
          <h4 class="media-heading">{{title}}</h4>
         {{text}}
        </div>
        <div class="app-history-data">Publicado por <strong>{{username}}</strong> el {{date}}
        
        </div>
      </div>
    </div>
</script>

<script id="template-history2" type="x-tmpl-mustache">
    <div class="app-history">
      <div class="media ">
        
        <div class="media-body">
          <h4 class="media-heading">{{title}}</h4>
         {{text}}
        </div>
        <div class="app-history-data">Publicado por <strong>{{username}}</strong> el {{date}}
          <div class="pull-right app-history-stars">{{fires}}<a href=""><span class="glyphicon glyphicon-fire"></span></a> | {{likes}} <a href=""><span class="glyphicon glyphicon-star"></span></a></div>
        </div>
      </div>
    </div>
</script>


  </body>
</html>