body{
	background-color: #000;
	color: #fff;
	

}
.overflow{
	overflow: hidden;
}
.title-app h2{
  font-family: 'Pacifico', cursive;
  font-size:22px;
  margin:0;
  float: left;
  color: #fff;

}

.title-app{

}
.navbar{
	border-radius: 0;
	background-color: #243245;
	border: 0;
}
.app-box{
	background-color: #243245;
	padding: 15px;
	color:#fff;
}

.chat-box{
	background-color: #222;
	padding:15px 0;
	color: #fff;
}

.app-history-box{
	color:#555;
	
}
#app-histories-container{
	overflow-y:scroll;
	padding:0 15px 0 0;
}

.custom-scrollbar{
	overflow-y: scroll;
}
.custom-scrollbar::-webkit-scrollbar
{		
	border-radius: 10px;
	width: 12px;
	background-color: #ccc;
}
.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #ccc;
}
.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;

}

.app-history{
	background-color: #363636;
	padding: 15px;
	margin-bottom: 15px;
	color: #ccc
}

.app-history h4{
	color: #0091EA;
}

.app-history-data{
	width: 100%;
	padding:15px 0 0 0;
}

.glyphicon-star{
	color: #FFAB00;
	
}
.glyphicon-fire{
	color: #E64A19;
	
}
.app-history-stars{
	font-size: 24px;
	background-color: #ddd;
	padding: 5px;
}

.home{
	background-color: #222
}


.form-control{
	border-radius: 0;
	background-color: #363636;
	border:0;
	color:#ddd;
}

.chatstorm h4{
	font-family: 'Pacifico', cursive;
  font-size:22px;
  margin:0;
  text-transform: capitalize;
   color: #fff;
}

.home h2{
	margin-top:200px;
	font-family: 'Pacifico', cursive;
 
 
  text-transform: capitalize;
   color: #9C27B0;
}
.chat-messages{
  display: table;
    height: 800px;
  
    
}

.chats{
	display: table-cell;
    vertical-align: bottom;
    width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    overflow-y: auto;
}
.main-app{
	margin-top: 70px;
}
.login{
	width: 400px;
	margin: auto;
	padding: 40px 20px;
	border:1px solid #1deee5;
	box-shadow:  0 0 40px #1deee5;
	text-align: center;
}

.login h4{
	margin-bottom: 30px;
	font-family: 'Pacifico', cursive;
}

.login #register{
	background-color: #24292e;
	border: 1px solid #1deee5;

}
.btn{
	border-radius: 0;
	text-transform: capitalize;
	background-color: #0091EA;
	color:#fff;
	border:1px solid #fff;
	transition:all ease .5s;
}
.btn:hover{
	border-radius: 0;
	background-color: #fff;
	color:#0091EA;
	text-transform: capitalize;
	border:1px solid #0091EA;
	transition:all ease .5s;
}

.chat{
	clear: both;
}
.username, .message{
	float: left;
}
.message{
	padding-left:4px;
}
.time{
	float: right;
	font-size:10px;
}


.yo{
	color: #40C4FF;
}


.close-gif{
	margin:10px;
	font-size: 22px;
	cursor: pointer;
}

/* avatar */
.media-object{
	border:1px solid #ccc;
}
.users_connected{
	background-color: #24292e;
	color: #fff;
	padding: 0;
}
.users_connected #users{
	padding: 10px;
}
.users_connected h5{
	background-color: #000;
	padding: 10px;
	margin: 0;
}

.banana{
	position: absolute;
	top:150px;
	left: 20%;
	display:none;
}
.delfin{
	position: absolute;
	top:250px;
	left: 20%;
	display:none;
}
.gif{
	position: absolute;
	top:250px;
	left: 20%;
	display:none;
}

.is_writting{
	float: left;
}


/* Helpres */
.no-padding{
	padding: 0;
}


.beta{
	background-color: #E53935;
	color:#fff;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 10px;
	float: left;
	margin-left: 10px;
	transform: rotate(-7deg);
}




/* animacion cuando entras al chat*/
.uil-circle{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.gif-container{
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;	
}
.result-container{
	float: left;
	width: 100%;
	position: relative;
    margin-top: -347px;
    background: #ddd;
    display: none;
}

.result{
	padding: 15px;
}



.mce-panel{
	background-color: #363636!important;
	color:#ddd!important;
}

.mce-menubar .mce-menubtn button span {
    color: #ddd!important;
}
.mce-menubar .mce-menubtn button {
    color: #ddd!important;
}


.mce-btn.mce-disabled button, .mce-btn.mce-disabled:hover button {
    cursor: default;
    opacity: 1!important;
   background-color: #363636!important;
	color:#ddd!important;
  
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset{
	color:#ddd!important;
}

.mce-btn {
    border: none!important;
    border-color: transparent transparent transparent transparent;
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    display: inline-block;
    background-color: #363636!important;
}

div.mce-edit-area{
	background: #363636!important;
}

.body_wishiwi{
	background-color: #363636!important;
}

.sfw .gif-enviado{
	display: none;
}